@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  text-decoration: none;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: #059862;
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-del{
  background-color: #e25740;
  color: white;
  font-size: 13px;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit{
  background-color: blue;
  font-size: 13px;
  color: white;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
}

.create-form div{
  display: flex;
  flex-direction: column;
}

input{
  padding: 5px;
}

input:focus{
  outline: none;
}

.create-form-input{
  margin: 10px 0px;
}